html,
body {
    margin: 0;
    padding: 0;
    font-family: Sans Forgetica;
    overflow: hidden;
    user-select: none;
}

div {
    display: inline-block;
}

#main {
    width: 100%;
    height: 100%;
}


.close:hover {
    opacity: .55;
}

.close {
    background-color: black;
    opacity: .35;
    position: absolute;
    left: -50px;
    top: 20px;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    letter-spacing: normal;
    text-align: center;
    line-height: normal;
    border-radius: 50%;
    font-size: 20px;
    font-family: sans-serif;
}

.edu,
.exp,
.proj,
.bout {
    display: block;
    font-size: 23px;
    line-height: normal;
    padding-bottom: 20px;
    font-family: monospace;
    top: 15%;
    position: relative;
    letter-spacing: normal;
}

.bout a{
    text-decoration: none;
    color: white;
}

.education.expand {
    height: 100%;
    top: -25%;
    width: 100%;
    position: relative;
    letter-spacing: 30px;
}


.slide {
    top: 46%;
    left: 44%;
}

.centerpeice {
    transition: left, top, box-shadow 2s, 2s, 2s;
}

.navbar {
    display: block;
    position: relative;
    transition: top, letter-spacing, position 0.5s, 0.5s, 1s;
    font-size: 40px;
    line-height: 150px;
    text-align: center;
    height: 25%;
    color: white;
    letter-spacing: 15px;
}

.about {
    width: 100%;
    white-space: nowrap;
    background-color: #8c9629;
}

@keyframes blink {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}

.typecursor {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: #f7f4f4;
    width: 10px;
    display: inline-block;
    height: 50px;
    top: 2px;
    position: relative;
    margin-left: -25px;
}

.navbar:hover {
    cursor: pointer;
    letter-spacing: 30px;
}

#content {
    width: calc(100% - 100px);
    height: 100%;
}

.section {
    width: 100%;
}

.education {
    background-color: #458a63;
}

.about p {

    display: inline;
}

.experience {
    background-color: #529294;
}

p {
    position: relative;
    white-space: nowrap;
    margin: 0;
}

.projects {
    background-color: #a72a2a;
}