html,
body {
    margin: 0;
    padding: 0;
    font-family: Sans Forgetica;
    overflow: hidden;
    user-select: none;
}

div {
    display: inline-block;
}

#main {
    width: 100%;
    height: 100%;
}


.close:hover {
    opacity: .55;
}

.close {
    background-color: black;
    opacity: .35;
    position: absolute;
    left: -50px;
    top: 20px;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    letter-spacing: normal;
    text-align: center;
    line-height: normal;
    border-radius: 50%;
    font-size: 20px;
    font-family: sans-serif;
}

.edu,
.exp,
.proj,
.bout {
    display: block;
    font-size: 23px;
    line-height: normal;
    padding-bottom: 20px;
    font-family: monospace;
    top: 15%;
    position: relative;
    letter-spacing: normal;
}

.bout a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: block;
    box-shadow: 0px -3px 19px 1px black;
    position: relative;
    transition: top, letter-spacing, position 0.5s, 0.5s, 1s;
    font-size: 40px;
    text-align: center;
    line-height: 190px;
    height: 25%;
    color: white;
    letter-spacing: 15px;
}

.about {
    width: 100%;
    white-space: nowrap;
    background-color: #8c9629;
}

.navbar:hover {
    cursor: pointer;
    letter-spacing: 30px;
}

@media only screen and (max-width:480px) {
    .navbar {
        line-height: 160px;
        font-size: 20px;
    }

    .about {
        white-space: normal;
        line-height: 70px;
    }

    .navbar:hover{
        letter-spacing: 15px;
    }

    .edu,
    .exp,
    .proj,
    .bout {
        font-size: 16px;
    }
}

@keyframes blink {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}

.typecursor {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: #f7f4f4;
    width: 10px;
    display: inline-block;
    height: 50px;
    top: 2px;
    position: relative;
    margin-left: -25px;
}

.section {
    width: 100%;
}

.education {
    background-color: #458a63;
}

.about p {

    display: inline;
}

.experience {
    background-color: #529294;
}

.projects {
    background-color: #a72a2a;
}