html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    color: #337ab7;
    margin-top: 10px;
    margin-bottom: 0px;
}

h2,
h3,
h4 {
    margin-top: 10px;
    font-weight: 300;
}

.intro h1,
h2 {
    color: #dfdfe0;
    font-weight: 300;
}

.section.aboutme{
    height: 484px;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.aboutme h3{
    
font-size: 26px;
    
color: cadetblue;
}

.aboutme p{
    
width: 60%;
    
margin: 15px auto;
}

.introbout{
    transition: top 2s;
    top: 0;
    position: relative;
}

.introcontainer{
    
height: 484px;
    
overflow: hidden;
}

.appliner a:hover{
    color: wheat;
}

.aboutmebtn::after{
    content: "About Me";
}

.aboutmebtn.lightup{
    
box-shadow: 0px 0px 16px 3px #d4388c;
    
background-color: deeppink;
    
color: white;
}

.aboutmebtn{
    
color: #dad0d0;
    
padding: 10px 16px;
    
font-size: 16px;
    
display: inline-block;
    
right: 20px;
    
transition: content 2s;
    
top: 60px;
    
position: absolute;
    
cursor: pointer;
    
border-radius: 30px;
    
background-color: #b1196b;
    
z-index: 3;
}

.menubar {
    position: sticky;
    height: 50px;
    top: 0px;
    box-shadow: 0px 1px 16px 3px #000000b8;
    z-index: 5;
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px;
}

.menu a:hover {
    background-color: #2d86b9;
}

.menu {
    background-color: #535456;
    padding: 0px 0px;
    color: white;
    text-align: center;
    /* width: 383px; */
    margin: auto;
}

.menuitem {
    display: inline-block;
}



#app {
    width: 100%;
    height: 100%;
}

.appliner {
    height: 40px;
    background-color: #4d628e;
    position: absolute;
    top: 0;
    font-size: 14px;
    z-index: 4;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.exp.hover .logo {
    filter: none;
}

.exp.playgames24x7.hover h3 {
    color: #f37134;
}

.exp.zeuslearning.hover h3 {
    color: #3ca2ec;
}

.exp.malayinfotech.hover h3 {
    color: #db2e26;
}

.exp.exp.zeuslearning .logo {
    width: 110px;
}

.exp h3 {

    color: #696868;

    font-weight: 300;

    margin: 0;
}

.card .screenshot img {
    width: 100%;
    height: 100%;
}

.card.rogueai .screenshot, .card.snapgest .screenshot {

    width: 180px;

    height: 180px;
}

.card.rummy .screenshot {
    /* width: 450px; */
    /* height: 250px; */
}

.contact {
    /* margin: 50px auto; */
    /* max-width: 450px; */
    height: 345px;
    margin-top: 60px;
    perspective: 1000px;
}

.fliper{position: relative;width: 60%;max-width: 600px;height: 100%;box-shadow: 5px 5px 23px 1px #ffffff7d;margin: auto;text-align: center;transition: transform 0.8s;border-left: 1px dashed #a9a4a4;border-top: 1px dashed #a9a4a4;transform-style: preserve-3d;}

.section.contactme {

/* width: 60%; */

background-color: #252526;

caret-color: white;

margin-bottom: 0;

padding: 70px 0;
}

.section.contactme h3{
    
color: white;
}


.contact input[type="submit"],
.contact input[type="reset"] {

background-color: lightblue;

border: none;

border-radius: 4px;

padding: 15px;

margin: 0px 10px;

display: inline-block;

box-shadow: 4px 3px 0px 2px #527d96c7;

width: 100px;

cursor: pointer;

outline: none;
}

.experience .exp {

    font-size: 16px;

    padding: 10px 15px;

    display: inline-block;

    height: 150px;

    margin-top: 60px;
}

.exp .logo {

    width: 200px;

    filter: grayscale();

    height: 40px;

    background-repeat: no-repeat;

    margin: 10px auto;

    background-size: contain;

    background-position: center;
}

.contact input[type="submit"]:hover,
.contact input[type="reset"]:hover {

    background-color: #76b0c3;
}

form{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

form label{
    
top: 45%;
    
position: relative;
    
font-size: 16px;
    
font-weight: 300;
}

.submitmessage{
    transform: rotateY(180deg);
    z-index: 1;
    color: white;
}

#gform{
    z-index: 2;
}

.contact input[type="text"],
.contact input[type="email"] {

height: 45px;

padding: 15px;

background-color: #90adc16b;

font-size: 16px;

width: calc(50% - 20px);

box-sizing: border-box;

color: white;

margin: 10px 10px;

box-shadow: 2px 2px 4px 1px #5d73808a inset;

outline: none;

display: inline-block;

border: 1px solid #939ba0;
}

.contact textarea {

width: calc(100% - 20px);

height: 200px;

padding: 15px;

background-color: #90adc16b;

font-size: 16px;

display: inline-block;

margin: 10px;

box-sizing: border-box;

color: white;

border: 1px solid #939ba0;

box-shadow: 2px 2px 4px 1px #5d73808a inset;

outline: none;
}

.mydp {
    height: 180px;
    box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.7);
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    width: 180px;
    background-size: contain;
    background-image: url('../media/divchitroda.jpeg');
}

.section {
    display: block;
    position: relative;
    font-size: 24px;
    margin: 60px auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.desc {
    padding: 0 15px;
}

.redirect {
    background-color: #549657;
    border-radius: 4px;
    display: inline-block;
    padding: 8px 30px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.redirect:hover {
    background-color: #3d7340;
}

.title {
    font-size: 20px;
    padding: 0 15px 5px 15px;
    font-weight: 400;
}

.tech {
    font-size: 12px;
    padding: 15px 0px;
}

.redirect a {
    color: white;
}

.contentholder {
    width: 768px;
    margin: auto;
    overflow: visible;
}

.card {
    padding: 70px 0;
}

.card .screenshot {
    width: 450px;
    height: 250px;
    display: inline-block;
}

.card .content {
    float: right;
    font-size: 14px;
    text-align: left;
    width: 39%;
}

.section.intro h3 {
    display: none;
}

.intro {
    padding-top: 100px;
    margin: 0;
    z-index: 2;
}

.card.flip1 {
    background-color: #f3f3f3;
}

.flip1 .content {
    float: left;
}

.dpl0,
.dpl1 {
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}

.dpl0 {
    background-color: #265cad69;
}

.dpl1 {
    background-color: #265cadad;
}

.bgimage {
    background-image: url('../media/bg.png');
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 484px;
    z-index: -1;
}

footer {
    height: 50px;
    background-color: #535456;
    color: whitesmoke;
}

footer img {
    width: 25px;
}

footer .social {
    display: block;
    float: right;
}

.socialbar {
    height: 50px;
    margin: 0;
    padding-left: 0;
}

.socialitem {
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    transition: transform 500ms;
    transform: rotateZ(0deg);
}

.socialitem:hover {
    transform: rotateZ(360deg);
}

.copyright {
    font-size: 12px;
    padding: 15px;
    display: inline-block;
}

@media only screen and (max-width: 800px) {
    .card .screenshot {
        display: block;
        margin: auto;
        width: 320px;
        height: 180px;
    }

    .card .content {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    .aboutmebtn::after{
        content: "i";
        font-family: monospace;
        font-size: 20px;
    }

    .contentholder {
        width: 100%;
    }

    .contact input{
        
margin: 10px 10px !important;
        
width: calc(100% - 20px) !important;
    }

    .contact{
        
height: 490px;
    }

    .fliper{
        
width: 85%;
    }
}