@font-face {
    font-family: 'Sans Forgetica';
    src: url('../media/SansForgetica-Regular.woff');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Sans Forgetica';
    overflow: hidden;
    user-select: none;
}

div {
    display: inline-block;
}

#app {
    width: 100%;
    height: 100%;
}


.close:hover {
    opacity: .55;
}

.close {
    background-color: black;
    opacity: .35;
    position: absolute;
    left: -50px;
    top: 20px;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    letter-spacing: normal;
    text-align: center;
    line-height: normal;
    transition: left 1.5s;
    border-radius: 50%;
    font-size: 20px;
    font-family: sans-serif;
}

.edu,
.exp,
.proj,
.bout {
    display: block;
    font-size: 23px;
    line-height: normal;
    padding-bottom: 20px;
    font-family: monospace;
    top: 15%;
    position: relative;
    letter-spacing: normal;
}

.bout a {
    text-decoration: none;
    color: white;
}

.section {
    display: block;
    box-shadow: 0px -3px 19px 1px black;
    position: relative;
    transition: top, letter-spacing, position 0.5s, 0.5s, 1s;
    font-size: 40px;
    text-align: center;
    line-height: 190px;
    height: 25%;
    color: white;
    letter-spacing: 15px;
    top: 0;
}

.about {
    width: 100%;
    white-space: nowrap;
    background-color: #8c9629;
}

.section:hover {
    cursor: pointer;
    letter-spacing: 30px;
}

@media only screen and (max-width:480px) {
    .section {
        line-height: 160px;
        font-size: 20px;
    }

    .bout {
        white-space: normal;
        line-height: 70px;
    }

    .section:hover{
        letter-spacing: 15px;
    }

    .edu,
    .exp,
    .proj,
    .bout {
        font-size: 16px;
    }
}

.section {
    width: 100%;
}

.experience {
    background-color: #458a63;
}

.about p {

    display: inline;
}

.portfolio {
    background-color: #529294;
}

.passion {
    background-color: #a72a2a;
}

.shadow-inset-center {
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
@keyframes shadow-inset-center {
    0% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
}