html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    color: #4A4E69 !important;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0px;
}

h2,
h3,
h4 {
    margin-top: 0px;
}

.menuline {

    height: 100%;

    background-color: #535456;

    position: relative;

    top: -50px;

    z-index: -1;
}

.menubar {


    position: sticky;

    height: 50px;

    top: 0px;

    z-index: 5;
}

.menu {


    background-color: #535456;

    padding: 0px 0px;

    color: white;


    width: 324px;

    margin: auto;

}

.menuitem {

    display: inline-block;

    padding: 14px;
}

.menuitem:hover {
    cursor: pointer;
    background-color: #2d86b9;
}

#app {
    width: 100%;
    height: 100%;
}

.appliner {
    height: 5px;
    background-color: #535456;
    margin-bottom: 50px;
    position: static;
    top: 0;
}

.mydp {

    height: 200px;

    box-shadow: 2px 1px 12px 2px rgba(0, 0, 0, 0.7);

    display: block;

    text-align: center;

    margin: auto;

    /* border-radius: 50%; */

    width: 200px;

    background-size: contain;

    background-image: url('../media/divchitroda.jpeg');
}

.section {
    display: block;
    position: relative;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.card{
    
/* width: 60%; */
    
margin: auto;
}

.card .screenshot {

width: 59%;

height: 250px;

border: 1px solid black;

display: inline-block;
}

.card .content {

float: right;

font-size: 14px;

width: 39%;
}

.section.About h3{
    display: none;
}

footer {
    height: 50px;
    background-color: #535456;
    color: whitesmoke;
}

footer img {
    width: 25px;
}

footer .social {


    display: block;

    float: right;
}

.socialbar {
    height: 50px;
    margin: 0;
    padding-left: 0;
}

.socialitem {

    display: inline-block;

    padding: 12px;

    cursor: pointer;


    transition: transform 500ms;

    transform: rotateZ(0deg);
}

.socialitem:hover {
    transform: rotateZ(360deg);
}

.copyright {

    font-size: 12px;

    padding: 15px;

    display: inline-block;
}

@media only screen and (max-width:480px) {}

.section {}