---
---

@import "{{ site.theme }}";

.site-header{
	position: sticky;
	top: 0;

	background-color: white;
}

// .svg-icon {
//     width: 24px;
// 	height: 24px;
// }

.social-media-list li{
	display: inline;
}